/* .tableFixHead {
    overflow-y: auto;
    height: 400px;
  }
  
  .tableFixHead thead th {
    position: sticky;
    top: 0;
    background: white;
  }
  
  .marquee {
    color: rgb(86, 86, 86);
    font-size: x-large;
  }
  
  .container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
   */